.image-basket{
    width: 140px;
    height: 140px;
}
.btn{
    margin-left: 86px !important;
 /*   margin-top: 120px !important;*/
}


.price-basket-item{
    color: rgb(39, 224, 39);
}
.but-decrease{
   background-color: red;
   width: 32px;
   height: 34px;
}
 .but-increase{
    background-color:rgb(31, 175, 31);
    width: 32px;
    height: 34px;
}
@media only screen and (max-width: 500px){
    .title-basket-item, .price-basket-item{
        font-size: 14px;
        font-weight: bold;   
        
    }
    .taxt-basket-item{
        font-size: 11px;
          
    }
}
.close-basket{
    cursor: pointer;
}
ul{
    border-bottom: 2px solid rgb(158, 157, 157);
    
    list-style-type: none
}

.header-top{
    padding-top: 20px;
    width: 91%;
}

@media only screen and (min-width: 800px){
    .main-basket-box{
        width: 85% !important;
        margin: auto !important;
        border: 2px solid rgb(165, 163, 163);
        border-radius: 6px;
       /* height: 48% !important;*/
    }
    
}
@media only screen and (max-width: 720px){
    .header-top{
        display: none;
    }
}